{% extends "base.html" %}
{# this is a title #}
{%- block title %} my db {%- endblock %}
{# import css lib by link tag #}
{%- block csslib %}{%- endblock %}
{# import js lib by script tag #}
{%- block jslib %}{%- endblock %}
{# js code #}
{%- block js %}{%- endblock %}
{# css code #}
{%- block css %}{%- endblock %}
{# body part main designer #}
{% block body %}
	<center>
		<form method="POST">
			{%- if method is defined %}
			
			{%- if method == '1' %}
				<input type="radio" name="act" value="1" onclick="document.forms[0].submit()" checked>Create Table</input>
			{% else %}
				<input type="radio" name="act" value="1" onclick="document.forms[0].submit()">Create Table</input>
			{%- endif %}
			
			{%- if method == '2' %}
				<input type="radio" name="act" value="2" onclick="document.forms[0].submit()" checked>View Table</input>
			{% else %}
				<input type="radio" name="act" value="2" onclick="document.forms[0].submit()">View Table</input>
			{%- endif %}
			
			{%- if method == '3' %}
				<input type="radio" name="act" value="3" onclick="document.forms[0].submit()" checked>View Data</input>
			{% else %}
				<input type="radio" name="act" value="3" onclick="document.forms[0].submit()">View Data</input>
			{%- endif %}
			
			{%- else -%}
				<input type="radio" name="act" value="1" onclick="document.forms[0].submit()">Create Table</input>
				<input type="radio" name="act" value="2" onclick="document.forms[0].submit()">View Table</input>
				<input type="radio" name="act" value="3" onclick="document.forms[0].submit()">View Data</input>
			{%- endif %}
			
			
			{% block Method %}
			{% endblock %}
		</form>
	</center>
{% endblock %}