{% extends "myDb.html" %}

{%- block js %}
	function countEle(outcomeId, eleClass){
		console.log(document.getElementsByName(eleClass).length); 
		document.getElementById(outcomeId).value = document.getElementsByName(eleClass).length;
		//alert(document.getElementById(outcomeId).value);
	}
{%- endblock %}

{% block Method %}

{%- if method is defined %}
			
			<p>{{ method }}</p>
			
			{% if method == '2' %}
			<input type="hidden" id="tableName" name="tableName"></input>
			<input type="hidden" id="action" name="action"></input>
			<input type="hidden" id="PKey" name="PKey"></input>
			
			<table border="1">
				<caption>Create Table</caption>
				<tr>
					<th>Table Name</th>
					<th>Primary Key</th>
					<th>Field</th>
					<th>Action</th>
				</tr>
				<tr>
					<form method="POST">
					{% if twoData is defined %}
					
					{% for d in twoData %}
					<tr>
						<td>{{ d[0] }}</td>
						<td>{{ d[1] }}</td>
						<td>{{ d[2] }}</td>
						<td>
							<input type="submit" value="GO" onclick="document.getElementById('tableName').value='{{ d[0] }}'; document.getElementById('PKey').value = '{{ d[1] }}'; document.getElementById('action').value='datas';"></input>
							<input type="submit" value="Del" onclick="document.getElementById('tableName').value='{{ d[0] }}'; document.getElementById('PKey').value = '{{ d[1] }}'; document.getElementById('action').value='delete';"></input>
						</td>
					</tr>
					{% endfor %}
					
					{% endif %}
					</form>
				</tr>
			</table>
			{% endif %}
			
{%- endif %}

{% endblock %}